
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
  }
  #menu-h {
    list-style: none;
    padding: 0;
    background-color: #333;
  }

  #menu-h li{
    padding: 20px;
    display: inline;
  }

  #menu-h li a{
    color: white;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    display: inline;
  }
  #menu-h li a:hover {
    background-color: #008080;
  }

  header {
    background-color: #008080;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: square;
    margin-left: 20px;
  }
  
  #contato form {
    display: flex;
    flex-direction: column;
  }
  
  #contato label {
    margin: 5px 0;
  }
  
  #contato input, #contato textarea {
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #contato button {
    padding: 10px;
    background-color: #008080;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #contato button:hover {
    background-color: #005959;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
  } 
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #005959;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    height: 100px;
    resize: vertical;
}
input[type="checkbox"] {
    margin-right: 10px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}